/* ID: Identifier menggunakan # */
#tabel-buah {
    border-collapse: separate;
}

/* Class: Identifier menggunakan . */
.link {
    color: blue;
    text-decoration: underline;
}

.wrapper {
    background: coral;
}

.container {
    width: 1200px;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    background: cadetblue;
}

.sidebar {
    width: 400px;
    height: 600px;
    background: darkred;
    float: left;
}


.content {
    width: 790px;
    height: 600px;
    padding-left: 10px;
    background: blueviolet;
    float: right;
}